<!DOCTYPE html>
<html lang="en">


<head>
    <title>Ош Мамалекеттик Педагогикалык Университети - Index</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="images/gerbOGPI.png" type="image/jpg">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700" rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="css/materialize.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="css/style-mob.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <!--HEADER SECTION-->
    <section>
        <!-- TOP BAR -->
        <div class="ed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-11">
                        <div class="ed-com-t1-right">
                            <ul>
                                <li><a href="#!" data-toggle="modal" data-target="#modal1">Авторизация</a>
                                </li>
                                <li><a href="#!" data-toggle="modal" data-target="#modal2">Регистрация</a>
                                </li>
                                <li class="sf-input"><input  type="text"  placeholder="Издөө"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- LOGO AND MENU SECTION -->
        <div class="top-logo" data-spy="affix" data-offset-top="250">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wed-logo">
                            <a href="index.html"><img src="images/gerbOGPI.png" alt="" class="responsive" alt=""  /></a>
                        </div>
                        <div class="main-menu responsive">
                            <ul>
                                <li><a href="index.html">Башкы</a>
                                </li>
                                <li class="about-menu">
                                    <a href="#" class="mm-arr">Университет</a>
                                    <div class="mm-pos">
                                        <div class="about-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay menu-about" href="#">
                                                            <img src="images/ОГПИ.jpg" alt="">
                                                            <span>ОшМПУнун миссиясы</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="mm1-com mm1-s2">
                                                    <p>Билим берүүдө сапат кепилдигин камсыздоо менен коомдун өнүгүүсүнө салым кошо алган, интеллектуалдык потенциалы жогору, атаандашууга жөндөмдүү, дүйнөлүк деңгээлге интеграцияланган, педагогикалык, социалдык-экономикалык багыттагы жогорку жана орто кесиптик компетенттүү адистерди даярдоо.</p>
                                                    <a href="about.html" class="mm-r-m-btn">Толук окуу</a>
                                                </div>
                                                <div class="mm1-com mm1-s3">
                                                    <ul>
                                                        <li><a href="all-courses.html">ОшМПУ жөнүндө</a></li>
                                                        <li><a href="all-courses.html">ОшМПУнун тарыхы</a></li>
                                                        <li><a href="structure.html">ОшМПУнун структурасы</a></li>
                                                        <li><a href="about.html">Эл аралык байланыш</a></li>
                                                        <li><a href="admission.html">Аккредитация</a></li>
                                                        <li><a href="awards.html">Лицензиялар</a></li>
                                                    </ul>
                                                </div>
                                                <div class="mm1-com mm1-s4">
                                                    <ul>
                                                        <li><a href="#">Факультеттер</a></li>
                                                        <li><a href="#">Институттар</a></li>
                                                        <li><a href="#">Департменттер</a></li>
                                                        <li><a href="#">Кафедралар</a></li>
                                                        <li><a href="#">ОшМПУнун Колледжи</a></li>
                                                        <li><a href="#">Борборлор</a></li>
                                                        <li><a href="#">Усулканалар</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="admi-menu">
                                    <a href="#" class="mm-arr">Абитуриенттерге</a>
                              
                                    <div class="mm-pos">
                                        <div class="admi-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="#">
                                                            <img src="images/abit.jpg" alt="">
                                                            <span>Бакалавриат</span>
                                                        </a>
                                                    </div>
                                                    <p>Өлкөбүздүн билим берүү айдыңында  өзүнүн кулачын кенен жайып, педагогикалык багыттагы сапаттуу кадрларды даярдоонун очогуна айланган Ош мамлекеттик педагогикалык университети 2022-2023-окуу жылына карата абитуриенттерди кабыл алат.

                                                        Университетте бюджеттик жана келишимдик негизде жогорку жана орто билим берүү үчүн  педагогикалык багыттагы бардык адистиктер боюнча кесип ээлери даярдалат.</p>
                                                    <a href="#" class="mm-r-m-btn">Толук окуу</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="#">
                                                            <img src="images/GH3B1655(1).jpg" alt="">
                                                            <span>ОшМПУга катталуу</span>
                                                        </a>
                                                    </div>
                                                    <div class="mm2-com mm2-com mm1-s1">
                                                        <ul>
                                                            <li><a href="https://2020.edu.gov.kg/vuz">ЖРТ онлайн</a></li>
                                                            <li><a href="https://2020.edu.gov.kg/spuz/">ОшМПУнун колледжине онлайн катталуу</a></li>
                                                            <li><a href="https://regkg.oshmpu.kg/">ОшМПУга диплом менен катталуу</a></li>
                                                            <li><a href="https://reg1.oshmpu.kg/">Чет элдик абитуриентерди катоо</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="#">
                                                            <img src="images/1544161004__mg_8697.jpg" alt="">
                                                            <span>Магистратура</span>
                                                        </a>
                                                    </div>
                                                    <p>Магистранттарды кабыл алуу келишимдик негизде жүргүзүлөт. Магистратурага кабыл алуу аңгемелешүүнүн  негизинде  ишке  ашат.  Окуу мөөнөтү 2 жыл.</p>
                                                    <a href="#" class="mm-r-m-btn">Толук окуу</a>
                                                </div>
                                                <div class="mm2-com mm1-com mm1-s4">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay" href="#">
                                                            <img src="images/1493878407_dsc_0242.jpg" alt="">
                                                            <span>Абитуриенттер үчүн</span>
                                                        </a>
                                                    </div>
                                                    <p>МАКСАТЫҢЫЗ ОКУУ БОЛСО ИЗДЕГЕН, САПАР ТАРТЫҢ КЕҢ ААЛАМГА БИЗ МЕНЕН!</p>
                                                    <a href="#" class="mm-r-m-btn">Толук окуу</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="science-menu">
                                    <a href="#" class="mm-arr">Илим</a>
                                    <div class="mm-pos">
                                        <div class="science-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay menu-about" href="#">
                                                            <img src="images/1584509163_00.jpg" alt="">
                                                            <span>Илим изилдөө бөлүмү</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="mm1-com mm1-s2">
                                                    <p>ОГПИнин Окумуштуулар Кеңеши  ай сайын институттун деңгээлиндеги окуу процессине тиешелүү маселелерди, ошондой эле окуу жайдын материалдык-техникалык базасын чыңдоого байланыштуу  долбоорлорду карап, талкуулап кабыл алып келет.</p>
                                                    <a href="#" class="mm-r-m-btn">Толук окуу</a>
                                                </div>
                                                <div class="mm1-com mm1-s3">
                                                    <ul>
                                                        <li><a href="#">Илимий изилдөө ишмердүүлүгү</a></li>
                                                        <li><a href="#">"ОшМПУнун Жарчысы" илимий журналы</a></li>
                                                        <li><a href="#">Илим изилдөө бөлүмү</a></li>                               
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="cour-menu">
                                    <a href="#!" class="mm-arr">Студенттерге</a>
                                    <!-- MEGA MENU 1 -->
                                    <div class="mm-pos">
                                        <div class="cour-mm mstudent-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm1-com  ">
                                                    <ul>
                                                        <li><a href="#">Факультеттер</a></li>
														<li><a href="#">Жатакана</a></li>
														<li><a href="#">Китепкана</a></li>
														<li><a href="#">Жаштар комитети</a></li>
														<li><a href="#">Студенттер үчүн кеңештер</a></li>
                                                        <li><a href="#">ОшМПУнун мыкты студенттери</a></li>
                                                    </ul>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">Окутуучуларга</a>
                                </li>
                                <li><a href="#">Байланыш</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    
    </section>
    <!--END HEADER SECTION-->


    <!-- DISCOVER MORE -->
    <section>
        <div class="pro-menu">
            <div class="container">
                <div>
                    <ul>
                        <li><a href="science.html" >ОшМПУнун илимий жарчысы</a></li>
                        <li><a href="science 1.html">Илимий макалага коюлуучу талаптар</a></li>
                        <li><a href="science 2.html">Илимий макаланы жарыялоонун этикасы</a></li>
                        <li><a href="science 3.html" class="pro-act">Рецензиялоо</a></li>
                        <li><a href="#">Макала жөнөтүү</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="con-title">
                    <h2>ОшМПУнун Илимий <span>борборуна кош келипсиз! </span></h2>
                    <p>Ош Мамалекеттик Педагогикалык Университетинин илимий жарчысы:</p>
                </div>
            </div>
        </div>
        <div class="stu-db">
            <div class="container pg-inn">
                <div class="col-md-9">
                    <div class="udb">

                        <p>Рецензиялоо</p>
                                <embed src="images/docs/Рецензиялоо кыргыз тилинде.pdf" type="application/pdf" width="100%" height="800px" />
                    </div>
                </div>
            </div>
        </div>
       
    </section>

    <!-- FOOTER -->
    <section class="wed-hom-footer">
        <div class="container">
           
            <div class="row wed-foot-link">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Факультеттер</h4>
                    
                </div>
                <div class="col-md-4">
                    <h4>Ченемдик документтер</h4>
                   
                </div>
                <div class="col-md-4">
                    <h4>Жардам & Колдоо</h4>
                    <ul>
                        
                        <li><a href="#">Байланыш</a>
                        </li>
                        <li><a href="#">Пикир бөлүшүү</a>
                        </li>
                        <li><a href="#">Суроо & Жооп</a>
                        </li>
                        <li><a href="#">Пайдалуу кеңеш</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row wed-foot-link-1">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>ОшМПУнун дареги</h4>
                    <p>Дарек: Кыргыз Республикасы <br>
                        723500, Ош облусу, Ош шаары<br>
                        Исанова к. 73 <br></p>
                    <p>Телефондор: <a href="#!">(03222)43567, 43550</a></p>
                    <p>Эл.почтасы: <a href="#!">ogpi.osh@mail.ru</a></p>
                </div>
                
                <div class="col-md-4">
                    <h4>ОшМПУ социал тармактарында</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="https://www.youtube.com/channel/UC0QCJdSKUDn2EJHP_cOhDcA"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
<!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD-->
<section>
    <!-- LOGIN SECTION -->
    <div id="modal1" class="modal fade" role="dialog">
        <div class="log-in-pop">
            <div class="log-in-pop-right">
                <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                </a>
                <h4>Кирүү</h4>
                <p>Аккаунтунуз жок болсо,өзүңүзгө жаңы аккаунт ачыңыз.</p>
                <form class="s12">
                    <div>
                        <div class="input-field s12">
                            <input type="text" data-ng-model="name" class="validate">
                            <label>Э-почтаңыз (email)</label>
                        </div>
                    </div>
                    <div>
                        <div class="input-field s12">
                            <input type="password" class="validate">
                            <label>Пароль</label>
                        </div>
                    </div>
                    <div>
                        <div class="s12 log-ch-bx">
                            <p>
                                <input type="checkbox" id="test5" />
                                <label for="test5">Мени эстеп кал</label>
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="input-field s4">
                            <input type="submit" value="Кирүү" class="waves-effect waves-light log-in-btn"> </div>
                    </div>
                    <div>
                        <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal3">Паролду эстей албадым</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Жаңы аккаунт ачуу</a> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- REGISTER SECTION -->
    <div id="modal2" class="modal fade" role="dialog">
        <div class="log-in-pop">
            
            <div class="log-in-pop-right">
                <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                </a>
                <h4>Жаңы аккаунт ачуу</h4>
                <p>Аккаунтунуз жок болсо,өзүңүзгө жаңы аккаунт ачыңыз.</p>
                <form class="s12">
                    <div>
                        <div class="input-field s12">
                            <input type="text" name="name1" class="validate">
                            <label>ФИО</label>
                        </div>
                    </div>
                    <div>
                        <div class="input-field s12">
                            <input type="email" name="email" class="validate">
                            <label>Э-почтаңыз (email)</label>
                        </div>
                    </div>
                    <div>
                        <div class="input-field s12">
                            <input type="password" name="password" class="validate">
                            <label>Пароль</label>
                        </div>
                    </div>
                    <div>
                        <div class="input-field s12">
                            <input type="password" name="password" class="validate">
                            <label>Паролду тастыктаңыз</label>
                        </div>
                    </div>
                    <div>
                        <div class="input-field s4">
                            <input type="submit" value="Катталуу" class="waves-effect waves-light log-in-btn"> </div>
                    </div>
                    <div>
                        <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Мурда катталгансызбы? Кирүү</a> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- FORGOT SECTION -->
    <div id="modal3" class="modal fade" role="dialog">
        <div class="log-in-pop">
           
            <div class="log-in-pop-right">
                <a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
                </a>
                <h4>Паролду эстей албадым</h4>
                <form class="s12">
                    <div>
                        <div class="input-field s12">
                            <input type="text" data-ng-model="name3" class="validate">
                            <label>Э-почтаңыз (email)</label>
                        </div>
                    </div>
                    <div>
                        <div class="input-field s4">
                            <input type="submit" value="Тастыктоо" class="waves-effect waves-light log-in-btn"> </div>
                    </div>
                    <div>
                        <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Мурда катталгансызбы? Кирүү</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

    <!--Import jQuery before materialize.js-->
    <script src="js/main.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>